<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Gracias por tu interés
    </title>
  </head>
  <body>
    <h1>
      ¡Gracias por tu interés en nuestros estudios de casos exitosos!
    </h1>
    <p>
      Hola, {{ first_name }} {{ last_name }},
    </p>
    <p>
      Adjuntamos un archivo PDF con el estudio de 33 restaurantes exitosos para
    que puedas inspirarte y lograr el éxito en tu negocio.
    </p>
    <p>
      ¡Éxito!
    </p>
  </body>
</html>
